
// Fonts
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.form-control {
  border: 1px solid #607D8B;
}

.page-item.active .page-link {
  background-color: $info;
  border-color: $info;
}

.col-form-label {
  @extend .d-none;
  @extend .d-sm-block;
}

.table-header {
  @extend .bg-info;
  @extend .text-white;
  @extend .text-left;
}

.main-content {
  position: relative; top:110px;
}

@media (max-width: 768px) {
  .main-content {
    position: relative; top:50px;
  }
}
.pointer {
  cursor: pointer;
}

.dropdown-toggle-down::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.455em;
  font-family: FontAwesome;
  content: "\f077";
}

.dropdown-toggle-up::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.455em;
  font-family: FontAwesome;
    content: "\f078";
}

.dropdown-toggle-none::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.455em;
  font-family: FontAwesome;
    content: "\f146";
}

.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:$info;
	background:rgba(0,59,127,0.7);
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
	background:rgba(0,59,127,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	color: $white;
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
